<a href="https://colab.research.google.com/github/JonNData/Python-Skills/blob/master/HACKER_RANK_in_the_morning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HACKER RANK

# SQL SECTION

## Weather Station 7

Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.

Input Format

The STATION table is described as follows:




```

SELECT DISTINCT(CITY)
FROM STATION
WHERE CITY NOT LIKE ('A%')
AND CITY NOT LIKE ('E%')
AND CITY NOT LIKE ('I%')
AND CITY NOT LIKE ('O%')
AND CITY NOT LIKE ('U%')

```

## KANGAROO
Function Description

Complete the function kangaroo in the editor below. It should return YES if they reach the same position at the same time, or NO if they don't.

kangaroo has the following parameter(s):

x1, v1: integers, starting position and jump distance for kangaroo 1
x2, v2: integers, starting position and jump distance for kangaroo 2
Input Format

A single line of four space-separated integers denoting the respective values of , , , and .

Constraints

Output Format

Print YES if they can land on the same location at the same time; otherwise, print NO.



```
# KANGAROO

def kangaroo(x1, v1, x2, v2):
    i = 10000
    counter = 0
    while(i > 0):
        if(x1 == x2):
            return "YES"
            counter = 1
            break
        else:
            x1 += v1
            x2 += v2
            i -= 1
    if(counter == 0):
        return "NO"
```

## Top Earners
We define an employee's total earnings to be their monthly  worked, and the maximum total earnings to be the maximum total earnings for any employee in the Employee table. Write a query to find the maximum total earnings for all employees as well as the total number of employees who have maximum total earnings. Then print these values as  space-separated integers.

Input Format

The Employee table containing employee data for a company is described as follows:



where employee_id is an employee's ID number, name is their name, months is the total number of months they've been working for the company, and salary is the their monthly salary.

```
SELECT earnings, count(employee_id)
FROM (    
    SELECT (months * salary) AS earnings, employee_id
    FROM Employee
) as Subquery
GROUP BY earnings DESC
LIMIT 1;
```

##Weather Observation Station 4

Let N be the number of CITY entries in STATION, and let M be the number of distinct CITY names in STATION; query the value of N - M from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.



```
SELECT (COUNT(CITY) - COUNT(DISTINCT(CITY)))
FROM STATION;
```

##Weather Observation Station 5

Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

```
SELECT CITY, length(CITY)
FROM STATION 
ORDER BY LENGTH(CITY) DESC LIMIT 1;

SELECT CITY, LENGTH(CITY)
FROM STATION
ORDER BY LENGTH(CITY) ASC, CITY LIMIT 1
```

This could also be done with a subquery if desired one table. Would need a union.

## Weather Observation Station 6

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.



```
SELECT DISTINCT(CITY)
FROM STATION
WHERE CITY LIKE "a%" 
    OR CITY LIKE "e%"
    OR CITY LIKE "i%"
    OR CITY LIKE "o%"
    OR CITY LIKE "u%";
```

# PYTHON SECTION

##Python If-Else

Given an integer, , perform the following conditional actions:

If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20 , print Weird
If n is even and greater than 20, print Not Weird



```
if __name__ == '__main__':
    n = int(input().strip())
    if n % 2 == 1:
        print('Weird')
    elif n in range(2,5):
        print('Not Weird')
    elif n in range(6,21):
        print('Weird')
    elif n >20:
        print('Not Weird')
```

Integer Division vs. Float division



```
4//3 == 1
4/3 = 1.3333
```

## Loops

Task
Read an integer N . For all non-negative integers i < N , print i^2.



```
if __name__ == '__main__':
    n = int(input())
    i = range(0,n)
    for x in i:
        print(x**2)
```