<a href="https://colab.research.google.com/github/JonNData/Python-Skills/blob/master/HACKER_RANK_in_the_morning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HACKER RANK

## Weather Station

Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.

Input Format

The STATION table is described as follows:




```

SELECT DISTINCT(CITY)
FROM STATION
WHERE CITY NOT LIKE ('A%')
AND CITY NOT LIKE ('E%')
AND CITY NOT LIKE ('I%')
AND CITY NOT LIKE ('O%')
AND CITY NOT LIKE ('U%')

```

## KANGAROO
Function Description

Complete the function kangaroo in the editor below. It should return YES if they reach the same position at the same time, or NO if they don't.

kangaroo has the following parameter(s):

x1, v1: integers, starting position and jump distance for kangaroo 1
x2, v2: integers, starting position and jump distance for kangaroo 2
Input Format

A single line of four space-separated integers denoting the respective values of , , , and .

Constraints

Output Format

Print YES if they can land on the same location at the same time; otherwise, print NO.



```
# KANGAROO

def kangaroo(x1, v1, x2, v2):
    i = 10000
    counter = 0
    while(i > 0):
        if(x1 == x2):
            return "YES"
            counter = 1
            break
        else:
            x1 += v1
            x2 += v2
            i -= 1
    if(counter == 0):
        return "NO"
```

We define an employee's total earnings to be their monthly  worked, and the maximum total earnings to be the maximum total earnings for any employee in the Employee table. Write a query to find the maximum total earnings for all employees as well as the total number of employees who have maximum total earnings. Then print these values as  space-separated integers.

Input Format

The Employee table containing employee data for a company is described as follows:



where employee_id is an employee's ID number, name is their name, months is the total number of months they've been working for the company, and salary is the their monthly salary.

```
SELECT earnings, count(employee_id)
FROM (    
    SELECT (months * salary) AS earnings, employee_id
    FROM Employee
) as Subquery
GROUP BY earnings DESC
LIMIT 1;
```